<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletlogin</servlet-name>
        <servlet-class>servlet.servletlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertUserServlet</servlet-name>
        <servlet-class>servlet.insertUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUsersServlet</servlet-name>
        <servlet-class>servlet.getUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login_servlet</servlet-name>
        <servlet-class>servlet.login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertRealtyServlet</servlet-name>
        <servlet-class>servlet.InsertRealtyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRealtyinfo</servlet-name>
        <servlet-class>servlet.DisplayRealtyinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllCityServlet</servlet-name>
        <servlet-class>servlet.getAllCityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertResidentServlet</servlet-name>
        <servlet-class>servlet.InsertResidentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlet.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getResidentInfoServlet</servlet-name>
        <servlet-class>servlet.getResidentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResidentInfoServlet</servlet-name>
        <servlet-class>servlet.UpdateResidentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCommercialRealtiesServlet</servlet-name>
        <servlet-class>servlet.InsertCommercialRealtiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayCommercialRealtiesInfo</servlet-name>
        <servlet-class>servlet.displayCommercialRealtiesInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletlogin</servlet-name>
        <url-pattern>/servletlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertUserServlet</servlet-name>
        <url-pattern>/insertUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUsersServlet</servlet-name>
        <url-pattern>/getUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login_servlet</servlet-name>
        <url-pattern>/login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertRealtyServlet</servlet-name>
        <url-pattern>/InsertRealtyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRealtyinfo</servlet-name>
        <url-pattern>/DisplayRealtyinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllCityServlet</servlet-name>
        <url-pattern>/getAllCityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertResidentServlet</servlet-name>
        <url-pattern>/InsertResidentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getResidentInfoServlet</servlet-name>
        <url-pattern>/getResidentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResidentInfoServlet</servlet-name>
        <url-pattern>/UpdateResidentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCommercialRealtiesServlet</servlet-name>
        <url-pattern>/InsertCommercialRealtiesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayCommercialRealtiesInfo</servlet-name>
        <url-pattern>/displayCommercialRealtiesInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
