

h1 {
    font-size: 1.9em;
    text-align: center;
}

#body {
    background: white;
    /*clear: both;*/
    /*padding: 20px 0 15px;*/
    padding-bottom: 15px;
    padding-bottom: 35px;
    min-height: 82.8%;
} 
h2{ text-align: center;
    /*color: #117931;*/
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    font-family: "DroidKufi-Regular";
    margin-bottom: 10px;
    letter-spacing: 0;
}
.float-right inputs {
    max-width: 956px;
    border: 1px solid #e6e6e6;
    background-color: #f8f8f8;
    margin: 5px auto;
    position: relative;
}

.first{
margin-bottom:10px;
}
.wizard ul {
    list-style: none;
        list-style-position: outside;
    margin: 0;
    /*padding: 0;*/
    list-style-position: inside;
}

label {

    /*display: inline-block;*/
    /*margin-bottom: .5rem;*/
    /*floa: right;*/
    float: right;
    margin-top: 1px;

}
.inputs ul li label {
    background-color: #efefef;
    /*width: 78px;*/
    padding: 4px 10px 8px 5px;
    height: 30px;
}

#map{
       height: 700px;
   }
