/*start register form*/
body{
    font-weight: 400;
    /*background-image: linear-gradient(#C6DAE3, #62AACB , #fff);*/
    background: #35A0B1;
    font-family: 'Changa', sans-serif;
}
.form-body{
    color: #b6590d;  

}
.container{
    padding:60px;
    background: #35A0B1;
    max-width: 1400px;
    padding-top: 30px;
}

.card-container{
    padding: 20px 50px 20px 20px;
    border-radius: 6px;
    width: 800px;
    right:190px;
}
.card-navigation{
    margin-bottom: 10px;
    padding-right: 50px;
}

.form-header{
    padding: 20px 20px 20px 20px;
    text-align: center;
}
.info-text{
    text-align: center;    
}
.singup-form{
    text-align: right;
}
small{
    color:gray
}
.card-footer{
    border-top:1px solid rgba(0, 0, 0, 0.14);
}
.pull-left{
    float: left;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size:30px;
    color: #b6590d;
}
.form-control {
    border: none;
    border-bottom: 2px solid #b6590d;
    color: #b6590d;
    padding-bottom: 1px;
}

.mt-2, .my-2 {
    margin-top: .5rem !important;
    margin: 30px 0;
    margin-top: 30px;
}
.buttom{
    text-align: center;
}
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {        /*display: block;*/
    width: 50%;
    height: 55px;
    border:inset 3px;
    border:2px solid;
    background: white;
    color:#212529;
    /*outline: none;*/
    /*cursor:pointer;*/
    /*transition: .5s;*/ 
    border-color: #b6590d;
    border-radius: 5px;
    align: center;
}
.form-row {
    padding-bottom: 10px;
}
/*
.form-register{
width: 50%;
margin: auto;
margin-top: 2em;
text-align: right;
}
.form-register input{
  border: none;
  border-bottom: 2px solid blue;
-webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}*/
/*ending register form*/
