*{
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}
.t{
    font-weight: 400;
    margin: 1px;
    border-radius: 2px 2px 0 0;   
}
.gm-style .gm-style-iw-c{
    border-radius: 0;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
}
body {
    font-family: 'Changa', sans-serif;
    background-color:  #35A0B1;
    color: #b6590d; 
    font-size: 17px;
}
.main-bar{
    font-size: 1.25rem;
}
.main-bar a:link {
    text-decoration: none;
    /*border-bottom: 2px solid #b6590d;*/
}

.main-bar a:visited {
    /*text-decoration: none;*/
}

.main-bar a:hover {
    /*border-bottom: 2px solid #b6590d;*/
}

.main-bar a:active {
    border-bottom: 2px solid #b6590d;
}
.btn{
    border-color: #b6590d;
}

card-body{
    padding-right: 210px;
}
.search-box{
    font-size: 1.25rem;
    margin-top:0px;
    margin-right: 150px;
    margin-bottom: 0px;

}
#map{
    width: 760px;
    height: 365px;
}
.fun-section .card{
    padding-bottom: 10px;padding-top: 10px;
}